
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #000;
  }
  
  footer ul li a:hover {
    border-bottom: 1px solid #000;
  }
  
  .footer_logo  img {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  
  .footer_dev_link {
    margin: 10px;
  }
  
  footer ul li {
    margin-left: 10px;
  }